doctype html
head
	meta(charset='utf-8')
	meta(content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no' name='viewport')
	meta(name='description' content='Check out the Avengers Assemble community on Discord - Hang out with other members and enjoy free voice and text chat.')
	meta(http-equiv='refresh' content='0; url=https://discord.gg/MsJ99j5Bcv')
	// Favicons
	link(href='img/A.webp' rel='icon')
	link(href='img/A.webp' rel='apple-touch-icon')
	title Avenger Bot Invite!
	style
body
	

