doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		title Avenger-Assemble || Musics_DJ || Avenger Privacy Policy
		meta(content='' name='description')
		meta(content='Avengers Assembele , Musics_DJ , Avenger , Discord , Discord Bot , Developers' name='keywords')
		// Favicons
		link(href='img/A.webp' rel='icon')
		link(href='img/A.webp' rel='apple-touch-icon')
		// Vendor CSS Files
		link(href='vendor/aos/aos.css' rel='stylesheet')
		link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
		link(href='vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
		// Template Main CSS File
		link(href='stylesheets/style.css' rel='stylesheet')
	body
		// ======= Hero Section =======
		section#hero(style='background: url(../img/A.webp) center center no-repeat; background-size: contain;')
		.hero-container(data-aos='zoom-in' data-aos-delay='100')
			h1
			| Welcome
			span
			a.btn-get-started(href='https://discord.gg/MsJ99j5Bcv') Join Server
			a.btn-get-started(href='https://top.gg/servers/775411681714503680') Vote Server
			br
			br
			a.scrollto.btn-grad(href='#about') Get Started
		// End Hero Section
