<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Check out the Avengers Assemble community on Discord - Hang out with other members and enjoy free voice and text chat.">
    <meta property="og:title" content="Join the Avengers Assemble Discord Server!">
    <meta property="og:url" content="https://discord.gg/MsJ99j5Bcv">
    <meta property="og:description" content="Check out the Avengers Assemble community on Discord - Hang out with other members and enjoy free voice and text chat.">
    <meta property="og:site_name" content="Avengers Assemble">
    <meta property="og:image" content="https://cdn.discordapp.com/splashes/775411681714503680/3a85e7ac074e016f245781a6de6a6bff.jpg?size=512">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta http-equiv="refresh" content="0; url=https://discord.gg/MsJ99j5Bcv" />
    <!-- Favicons -->
    <link href="img/A.webp" rel="icon">
    <link href="img/A.webp" rel="apple-touch-icon">
    <title>Avengers Assemble Discord Server!</title>
</head>

<body>
</body>

</html>