<!-- @format -->

<%- include('Connections/Header') %> <%- include('Connections/Verify') %> <%-
include('Connections/Navbar') %>
<!-- Error Page -->
<section id="hero">
	<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
		<div class="error">
			<div class="container-floud">
				<div class="col-xs-12 ground-color text-center">
					<div class="container-error-404">
						<div class="clip">
							<div class="shadow"><span class="digit thirdDigit">$</span></div>
						</div>
						<div class="clip">
							<div class="shadow"><span class="digit secondDigit">()</span></div>
						</div>
						<div class="clip">
							<div class="shadow"><span class="digit firstDigit">$</span></div>
						</div>
					</div>
					<h2 class="h1">Sorry! Page not found</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Error Page -->
<%- include('Connections/Footer') %>
