<%- include('Connections/Header') %>
	<%- include('Connections/Verify') %>
		<%- include('Connections/Navbar') %>
        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background: url(../img/music.webp) center center no-repeat; background-size: contain;">
            <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
                <h1>
					Welcome to Avengers Bot page
				</h1>
                <span>
                    <a href="/musics_dj/invites" target="_blank" class="btn-get-started">
						Invite Bot
					</a>
                    <a href="/musics_dj/vote" target="_blank" class="btn-get-started">
						Vote Bot
					</a>
                </span>
                <a href="/musics_dj/commands" class="btn-grad">
					Commands
				</a>
            </div>
        </section>
        <!-- End Hero Section -->

        <section id="musics_dj">
            <div class="container" data-aos="fade-up">
                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <h3 class="title">Few Words About <strong>Musics_DJ Bot</strong></h3>
                        <h4>
                            Hello Friends, This is the bot that has 75+ commands which are only for the music playing.
                            <br /> This bot has three kinds of command categories those are Pro commands, Premium commands, Common commands.<br /> Pro commands have full playlists commands including Premium commands, Premium commands have 247 command
                            which means the bot will not leave the voice channel until you use the command leave or if you are not there and another member joins and he leaves that voice channel.<br /> There will be Giveaways to get free Pro or Premium
                            commands.
                        </h4>

                        <span>
                            <a href="/music/invites" target="_blank" class="btn-get-started">
								Invite Bot
							</a>
                            <a href="/musics_dj/vote" target="_blank" class="btn-get-started">
								Vote Bot
							</a>
                            <a href="/musics_dj/commands" class="btn-get-started">
								Bot Commands
							</a>
                        </span>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
                    </div>
                </div>

            </div>
        </section>
        <!-- End Musics_dj Section -->

		<%- include('Connections/Footer') -%>
