// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .single-item.col-lg-4.col-md-6.col-12
          .footer-top-header-1
            h1 Avengers Assemble
          .footer-top-content
            p
              | This is Support Server for Bots.For hosting bot and Vanity URL join server and contact owner.
          .footer-top-links-1
            a(href='https://avengers-assemble.tech/support' target='blank')
              img(align='center' src='https://img.icons8.com/nolan/64/discord-new-logo.png' alt='MsJ99j5Bcv' width='40')
              | &nbsp;&nbsp; avengers-assemble.tech/support
            br
            a(href='mailto:contact@avengers-assemble.tech')
              img(align='center' src='https://img.icons8.com/nolan/64/secured-letter.png' alt='koushikpuppala' width='40')
              | &nbsp;&nbsp;contact@avengers-assemble.tech
        .single-item.col-lg-4.col-md-6.col-12
          .footer-top-header-2
            h1 Highlights
          .dropend.footer-top-links-3
            a#dropdownMenuLink.dropdown-toggle(href='#footer' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Server Staff
            ul.dropdown-menu.footer-top-links-3(aria-labelledby='dropdownMenuLink')
              li
                a.dropdown-item.footer-top-links-3(href='/staff') Staff Members
              li
                a.dropdown-item.footer-top-links-3(href='/staff/application') Staff Application
          br
          .dropend.footer-top-links-3
            a#dropdownMenuLink.dropdown-toggle(href='#footer' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Partnership
            ul.dropdown-menu.footer-top-links-3(aria-labelledby='dropdownMenuLink')
              li
                a.dropdown-item.footer-top-links-3(href='/partner') Partner Servers
              li
                a.dropdown-item.footer-top-links-3(href='/partner/application') Partner Applications
          br
          .dropend.footer-top-links-3
            a#dropdownMenuLink.dropdown-toggle(href='#footer' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Musics_DJ
            ul.dropdown-menu.footer-top-links-3(aria-labelledby='dropdownMenuLink')
              li
                a.dropdown-item.footer-top-links-3(href='/musics_dj') Musics_DJ Home
              li
                a.dropdown-item.footer-top-links-3(href='https://discord.com/oauth2/authorize?client_id=772133876813922314&permissions=305626464&redirect_uri=https%3A%2F%2Fdiscord.gg%2FMsJ99j5Bcv&response_type=code&scope=connections%20guilds.join%20identify%20bot') Add to Server
              li
                a.dropdown-item.footer-top-links-3(href='https://top.gg/bot/772133876813922314') Vote
              li
                a.dropdown-item.footer-top-links-3(href='/musics_dj/commands') Commands
          br
          .dropend.footer-top-links-3
            a#dropdownMenuLink.dropdown-toggle(href='#footer' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Avenger
            ul.dropdown-menu.footer-top-links-3(aria-labelledby='dropdownMenuLink')
              li
                a.dropdown-item.footer-top-links-3(href='/avenger') Avenger Home
              li
                a.dropdown-item.footer-top-links-3(href='https://discord.com/oauth2/authorize?client_id=775412494235729960&permissions=2088762486&redirect_uri=https%3A%2F%2Fdiscord.gg%2FMsJ99j5Bcv&response_type=code&scope=bot%20guilds.join%20connections%20identify') Add to Server
              li
                a.dropdown-item.footer-top-links-3(href='https://top.gg/bot/775412494235729960') Vote
              li
                a.dropdown-item.footer-top-links-3(href='/avenger') Commands
        .single-item.col-lg-4.col-md-6.col-12
          .footer-top-header-3
            h1 Follow us on
          .footer-top-links-3
            a(href='https://avengers-assemble.tech/support' target='blank')
              img(align='center' src='https://img.icons8.com/nolan/64/discord-new-logo.png' alt='Support server' width='40')
            a(href='https://github.com/puppala-koushik' target='blank')
              img(align='center' src='https://img.icons8.com/nolan/64/github.png' alt='GitHub Profile' width='40')
          .footer-top-header-3
            h1 Support
          .footer-top-links-3
            a(href='https://avengers-assemble.tech/support')
              img(src='https://img.icons8.com/nolan/64/discord-logo.png' alt='Support server' width='40')
              | Support Server
          p.footer-top-links-3(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
            img(src='https://img.icons8.com/nolan/64/add-contact-to-company.png' alt='Contact Us' width='40')
            | Contact Us
          #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Contact Us
                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                  .form
  hr(style='width: 90%; margin-left: 5%; height: 2px;')
  .footer-bottom
    .container
      .copyright
        | 2021 Copyright &copy; Avengers Assemble. All Rights Reserved
      .credits
        | Designed by
        a(href='https://koushikpuppala.live/')
          strong Koushikpuppala
// End Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='<%= HOME %>')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='<%= EXTRA %>vendor/aos/aos.js')
// Template Main JS File
script(src='<%= EXTRA %>scripts/index.js')
// CDN Links for React usage
script(crossorigin='' src='https://unpkg.com/react@17/umd/react.production.min.js')
script(crossorigin='' src='https://unpkg.com/react-dom@17/umd/react-dom.production.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
