<div id="preloader">
	<div class="loadmain">
		<div class="loadtext">Avengers Assemble</div>
		<div class="loadtitle">Loading....</div>
		<div class="loadbar">
			<div id="fill"></div>
		</div>
	</div>
</div>
