doctype
html(lang='en')
	head
		include Connections/Header.pug
	body
		section#hero(style='background: url(img/A.webp) center center no-repeat; background-size: contain;').hero-container(data-aos='zoom-in' data-aos-delay='100')
			h1 Welcome to Avengers Assemble Website
			h2 This is the Support server for discord bots Musics_DJ(verified by discord) and Avenger.You can have Chatting, Code Sharing and Lot of fun by making new friends.Login with discord for Server info.
			span
				a.btn-get-started(href='/support') Join Support Server
				a.btn-get-started(href='/auth') Login with Discord
		// Vendor JS Files
		script(src='/vendor/aos/aos.js')
		// Template Main JS File
		script(src='/scripts/index.js')
		// CDN Links for React usage
		script(crossorigin='' src='https://unpkg.com/react@17/umd/react.production.min.js')
		script(crossorigin='' src='https://unpkg.com/react-dom@17/umd/react-dom.production.min.js')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
