<%- include('Connections/Header') -%>
    <%- include('Connections/Navbar') -%>
        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background: url(../img/A.webp) center center no-repeat; background-size: contain;">
            <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
                <h1>Welcome
                    <%= username %> <br /> to Avengers Assemble Server info
                </h1>
                <span>
                        <a href="https://discord.gg/MsJ99j5Bcv" class="btn-get-started">Join Server</a>
                        &nbsp;&nbsp;
                        <a href="https://top.gg/servers/775411681714503680" class="btn-get-started">Vote Server</a>
                    </span><br /><br />
                <a href="#about" class="scrollto btn-grad">Get Started</a>
            </div>
        </section>
        <!-- End Hero Section -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about">
                <div class="container" data-aos="fade-up">
                    <div class="row about-container">

                        <div class="col-lg-6 content order-lg-1 order-2">
                            <h3 class="title">Few Words About <strong>Avengers Assemble Server</strong></h3>
                            <h4>
                                This is the Support server for 2 Major Bots.<br /><br /> You can have giveaways, events, Code Sharing(expect my bots code) and Lot of fun by making new friends.
                                <br /><br /> You can also become <a href="/staff/application">Staff</a> who can have benifites like free Premium of my Musics_DJ Bot untill they leave the server.
                                <br /><br /> One bot is <a href="/musics_dj">Musics_DJ</a> which got verified by Discord.
                                <br /><br /> Second bot is <a href="/avenger">Avengers</a> it is latest bot and it needs to be verified
                            </h4>

                            <span>
                                    <a href="https://discord.gg/MsJ99j5Bcv" target="_blank" class="btn-get-started">Join
                                        Server</a>
                                    <a href="https://top.gg/servers/775411681714503680" target="_blank"
                                        class="btn-get-started">Vote Server</a>
                                    <a href="/staff/application" class="btn-get-started">Apply Staff</a>
                                </span>

                        </div>

                        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
                        </div>
                    </div>

                </div>
            </section>
            <!-- End About Section -->

            <!-- ======= Musics_dj Section ======= -->
            <section id="musics_dj">
                <div class="container" data-aos="fade-up">
                    <div class="row about-container">

                        <div class="col-lg-6 content order-lg-1 order-2">
                            <h3 class="title">Few Words About <strong>Musics_DJ Bot</strong></h3>
                            <h4>
                                Hello Friends, This is the bot that has 75+ commands which are only for the music playing.
                                <br /> This bot has three kinds of command categories those are Pro commands, Premium commands, Common commands.<br /> Pro commands have full playlists commands including Premium commands, Premium commands have 247 command
                                which means the bot will not leave the voice channel until you use the command leave or if you are not there and another member joins and he leaves that voice channel.
                                <br /> There will be Giveaways to get free Pro or Premium commands.
                                <br /> For more information visit the main Website.
                            </h4>

                            <span>
                                    <a href="https://discord.com/oauth2/authorize?client_id=772133876813922314&permissions=305626464&redirect_uri=https%3A%2F%2Fdiscord.gg%2FMsJ99j5Bcv&response_type=code&scope=connections%20guilds.join%20identify%20bot"
                                        target="_blank" class="btn-get-started">Invite Bot</a>
                                    <a href="https://top.gg/bot/772133876813922314" target="_blank"
                                        class="btn-get-started">Vote
                                        Bot</a>
                                    <a href="/musics_dj" class="btn-get-started">Bot Website</a>
                                </span>

                        </div>

                        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
                        </div>
                    </div>

                </div>
            </section>
            <!-- End Musics_dj Section -->

            <!-- ======= Avenger Section ======= -->
            <section id="avenger">
                <div class="container" data-aos="fade-up">
                    <div class="row about-container">

                        <div class="col-lg-6 content order-lg-1 order-2">
                            <h3 class="title">Few Words About <strong>Avenger Bot</strong></h3>
                            <h4>
                                Hello friends, This bot is having 100+ commands and still under development.<br /> This bot is having Social, Leveling, Economy, and Fun are there in this bot until now in the future I am going to add Giveaways, Moderation,
                                Reaction Roles, and few music commands which will this bot universal for everything.
                                <br /> In this bot also there is a premium role but it will not stop any commands but when we use leveling, Economy, and Social we get points and when using some commands like Fun, Games these points are consumed for using
                                the command.<br /> For more information visit the main Website.
                            </h4>

                            <span>
                                    <a href="https://discord.com/oauth2/authorize?client_id=775412494235729960&permissions=2088762486&redirect_uri=https%3A%2F%2Fdiscord.gg%2FMsJ99j5Bcv&response_type=code&scope=bot%20guilds.join%20connections%20identify"
                                        target="_blank" class="btn-get-started">Invite Bot</a>
                                    <a href="https://top.gg/bot/775412494235729960" target="_blank"
                                        class="btn-get-started">Vote
                                        Bot</a>
                                    <a href="/avenger" class="btn-get-started">Bot Website</a>
                                </span>

                        </div>

                        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
                        </div>
                    </div>

                </div>
            </section>
            <!-- End Avengers Section -->
        </main>
        <!-- End #main -->
        <%- include("Connections/Footer") -%>